#preloader {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

#loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    font-family: sans-serif;
    background-color: powderblue;
}

/* Book */

#prev-btn{
    /* margin-left: 250px; */
    /* margin-right: 70px; */
}

#next-btn{
    margin-left: 50px;
}

.book {
    position: relative;
    width: 500px;
    height: 500px;
    transition: transform 0.5s;
    justify-content: center;
    align-items: right;
    margin-top: 150px;
    
}
.paper {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    perspective: 1500px;

}


.front,
.back {
    background-color: white;
    position: absolute;
    width:100%;
    height: 100%;
    top: 0;
    left: 0;
    transform-origin: left;
    transition: transform 0.5s;
}

.front {
    z-index: 1;
    backface-visibility: hidden;
    border-left: 3px solid powderblue;
}

.back {
    z-index: 0;
}

.front-content,
.back-content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.back-content {
    transform: rotateY(180deg)
}

/* Paper flip effect */
.flipped .front,
.flipped .back {
    transform: rotateY(-180deg);
}

/* Controller Buttons */
.buttonn {
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin: 10px;
    transition: transform 0.5s;
}

button{
    background-color: #adaeb0;
    border: none;
    cursor: pointer;
    margin: 10px;
    transition: transform 0.5s;
}

.buttonn:focus {
    outline: none;
}

.buttonn:hover i {
    color: #636363;
}

i{
    font-size: 50px;
    color: gray;
}

/* Paper stack order */
#p1 {
    z-index: 22;
}

#p2 {
    z-index: 21;
}

#p3 {
    z-index: 20;
}
#p4{
    z-index: 19;
}
#p5{
    z-index: 18;
}
#p6{
    z-index: 17;
}
#p7{
    z-index: 16;
}
#p8{
    z-index: 15;
}
#p9{
    z-index: 14;
}
#p10{
    z-index: 13;
}
#p11{
    z-index: 12;
}
#p12{
    z-index: 11;
}
#p13{
    z-index: 10;
}
#p14{
    z-index: 9;
}
#p15{
    z-index: 8;
}
#p16{
    z-index: 7;
}
#p17{
    z-index: 6;
}
#p18{
    z-index: 5;
}
#p19{
    z-index: 4;
}
#p20{
    z-index: 3;
}
#p21{
    z-index: 2;
}

#p22{
    z-index: 1;
}


.modal1{
    position: absolute;
    left: 700px; 
}

.top-100 {
    top: 85% !important;
  }





.navbar-vertical {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    width: 300px;
    height: 100vh;
    overflow-y: auto; /* Dikey scrollbar ekleme */
    position: fixed;
    top: 0;
    left: 0;

  }
  .navbar-vertical .nav-link {
    color: #060202;
  }
  .navbar-vertical .nav-link:hover {
    background-color: #adaeb0; /* Darker background on hover */
  }
  .content {
    margin-left: 200px; /* Adjust margin to account for the fixed navbar width */
    padding: 20px;
    flex: 1;
  }
  .accordion-button::after {
    color: #060202 !important; /* Oku beyaz renge çevirir */
  }
  .accordion-button:not(.collapsed)::after {
    color: #060202 !important; /* Oku beyaz renge çevirir (açık durumda) */
  }

  .end{
     text-align: right;
  }

  .border-sides {
    border-left: 2px solid #000; /* Soldan border */
    border-right: 2px solid #000; /* Sağdan border */
}
  
.navbar-hidden {
    transform: translateY(-100%);
}

.fa-brands{
    border: none;
}

.i{
    border: none;
}

.img{
    max-width: 160px; max-height: 160px;
}

.ms-55{
    margin-left: 5.5rem !important;
  }
    
    



/* Media quaries */




 

/* Ekran boyutlarına göre .book boyutlandırma */
@media (max-width: 768px) {
   
    .book {
        width: 100%;
        height: auto;
    }

    .paper {
        width: 100%;
        height: auto;
    }

    .front,
    .back {
        width: 100%;
        height: auto;
    }
}

@media (max-width: 480px) {
     .book{
        width: 200px;
        height: 300px;
     }
     .paper{
        width: 200px;
        height: 300px;
       
     }
     .modal1{
        display: inline-flex;
        left: 400px; 
    }
  

    #prev-btn{
        margin-top: 150px;
        margin-left: 400px;
        margin-right: 70px;
    }
    
    #next-btn{
        margin-top: 150px;
        margin-left: 50px;
    }
}

















.flip-book {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
    display: none;
    background-size: cover;
}

.page {
    padding: 20px;
    background-color: #fff;
    color: #785e3a;
    border: solid 1px #c2b5a3;
    overflow: hidden;
}

.page .page-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
}

.page .page-content .page-header {
    height: 30px;
    font-size: 100%;
    text-transform: uppercase;
    text-align: center;
}

.page .page-content .page-image {
    height: 100%;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}

.page .page-content .page-text {
    height: 100%;
    flex-grow: 1;
    font-size: 80%;
    text-align: justify;
    margin-top: 10px;
    padding-top: 10px;
    box-sizing: border-box;
    border-top: solid 1px #f4e8d7;
}

.page .page-content .page-footer {
    height: 30px;
    border-top: solid 1px #f4e8d7;
    font-size: 80%;
    color: #998466;
}

.page.--left {
    border-right: 0;
    box-shadow: inset -7px 3px 20px -7px rgba(0, 0, 0, 0.4)
}

.page.--right {
    border-left: 0;
    box-shadow: inset 7px 0 20px -7px rgba(0, 0, 0, 0.4);
}

.page.--right .page-footer {
    text-align: right;
}

.page.hard {
    background-color: #f2e8d9;
    border: solid 1px #998466;
}

.page.page-cover {
    background-color: #fff;
    color: #785e3a;
    border: solid 1px #998466;
}

.page.page-cover h2 {
    text-align: center;
    padding-top: 50%;
    font-size: 210%;
}

.page.page-cover.page-cover-top {
    box-shadow: inset -1px 0px 8px 0px rgba(36, 10, 3, 0.5),
        -2px 0 5px 2px rgba(0, 0, 0, 0.4);
}

.page.page-cover.page-cover-bottom {
    box-shadow: inset 0px 0 30px 0px rgba(36, 10, 3, 0.5), 10px 0 8px 0px rgba(0, 0, 0, 0.4);
}